
/**
 * --------------- MY CSS STYLE --------------
 */

 /**
 * ===================== HOME STYLE =====================
 */
 header.masthead{
   padding-top: 150px;
   background-color: #CCC;
   color: #FFFFFF;
   text-align: center;
   padding-bottom: 100px;
   min-height: 800px;
 }

 /**
  * --------------- ABOUT --------------------
  */
  section#about{
    padding-top: 100px;
    background-color: #E5E5E5;
    min-height: 500PX;
  }

  /**
   * --------------- ABOUT-APP ---------------
   */
   section#about-app{
     padding-top: 100px;
     background-color: #D5D5D5;
     min-height: 500PX;
   }

   /**
    * --------------- FUNCIONALITIES ---------
    */
    section#funcionalities{
      padding-top: 100px;
      min-height: 500PX;
    }

    /**
     * --------------- FOOTER-ABOVE ---------
     */
     div.footer-above{
       padding: 100px 0 100px 0;
       background-color: #252525;
       color: #FFFFFF;
     }

     /**
      * --------------- FOOTER-BELOW --------
      */
      div.footer-below{
        padding: 20px;
        color: #FFFFFF;

      }

      /**
       * ===================== ABOUT STYLE =====================
       */

       /**
        * --------------- HEADER PAGEHEADER --------
        */
        header.pagehead{
          padding-top: 120px;
          background-color: #CCC;
          padding-bottom: 50px;
          min-height: 200px;
        }

        section#about-instanceof{
          padding-top: 100px;
          padding-bottom: 100px;
          min-height: 300px;
        }

        /**
         * ===================== CONTACT STYLE =====================
         */

         /**
          * --------------- HEADER PAGEHEADER --------
          */
          section#contact{
            padding-top: 100px;
            padding-bottom: 50px;
          }
